# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Large files used #
*.ipynb
*.h5
*.csv
*.keras
*.parquet
*.swp

# directories #
logs/
logshp/
trainset/
valset/
testset/
trainsetOLD/
valsetOLD/
testsetOLD/
models/
.venv/
bestmodels/
__pycache__/
Evalresults/
saved_dataset/
saved_dataset2d/
saved_dataset2dSparse/
saved_dataset2dNew/
saved_datasetPF00210/
Datasets/
shells/
Dataframes/
sideScripts/
lightning_logs/
tuner_dir/
pickle/




# scripts #
fastacutter.py
Dataset_preprocess_v2old.py
csv_to_fasta.py
Dataset_preprocessold.py
LengthHistoPlotter.py
tf.dataset_to_csv.py

test*
train*
val*
